<?xml version="1.0" encoding="UTF-8"?>
<!--
    logback = sl4j의 구현체

    환경설정 찾는 순서
    1. classpath에서 logback-test.xml을 찾는다.
    2. (1)에서 찾지 못했다면 claspath에서 logback.groovy를 찾는다.
    3. (2)에서 찾지 못했다면 classpath에서 logback.xml을 찾는다.
    4. (3)에서 찾지 못했다면 com.qos.logback.classic.spi.Configurator 인터페이스의 구현체를 찾는다.
    5. 위 과정에서 성공한 경우가 없다면 , LogBack은 콘솔에 출력하는 BasicConfigurator로 설정한다.

   LogPattern
   %logger : 패키지 포함 클래스 정보
   %logger{0} : 패키지를 제외한 클래스 이름만 출력
   %logger{length} : logger name을 축약 가능 {length}는 최대 자리 수
   %-5level : 로그 레벨, -5는 출력의 고정폭 값(5글자), 로깅 레벨이 info일 경우 빈칸 하나 추가
   %{PID:`} : 프로세스 아이디
   %d: 로그 기록 시간 출력
   %p : 로깅 레벨 출력
   %F : 로깅이 발생한 프로그램 파일명 출력
   %M : 로깅이 발생한 메서드 명을 출력
   %line : 로깅이 발생한 호출지의 라인
   %L : 로깅이 발생한 호출지의 라인
   %thread : 현재 쓰레드 명
   %t: 로깅이 발생한 Thread명
   %c : 로깅이 발생한 카테고리명
   %C : 로깅이 발생한 클래스 명
   %m : 로그 메시지
   %mSg: ~로그 메시지
   %n : 줄바꿈
   %% : % 출력
   %r : 애플리케이션 시작 이후부터 로깅이 발생한 시점까지의 시간
   %d{yyyy-MM-dd-HH:mm:ss:sss} : %d는 date를 의미, 중괄호에 들어간 문자열은 dateformat

-->
<Configuration status="INFO">
    <!--
    로깅 패턴 및 기타 설정을 위한 속성들이 정의
    설정에는 로그 파일의 경로 및 파일명 패턴, 로그 메시지의 출력 형식 등 포함 가능(encoder를 이용해서 포맷을 원하는대로 지정)
    -->
    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="DEFAULT_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p ${sys:PID} --- [%15.15t] %-40.40c{1.} :
            %m%n%xwEx
        </Property>
        <Property name="COLOR_PATTERN">[%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}] %clr{%5p} %clr{${sys:PID}}{magenta}
            %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c}{cyan} %clr{:}{faint} %m%n%xwEx
        </Property>
        <Property name="TEST_PATTERN">%d %5p [%c] %m%n</Property>
        <!--        <Property name="COLOR_PATTERN">[%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}] %clr{%5p} %clr{${sys:PID}}{magenta} %clr{-&#45;&#45;}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</Property>-->
    </Properties>

    <!--
    로그 이벤트가 어디에 기록될지를 정의
    해당 파일에서는 콘솔과 롤링 파일 두 가지 타입의 Appender가 정의됨
    -->
    <Appenders>
        <!--
        콘솔에 로그를 출력하는 Appender
        -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${COLOR_PATTERN}"/>
        </Console>
        <!--
        파일에 로그를 기록하는 롤링 파일(Appender)으로 설정에 따라 파일의 크기 또는 시간에 따라 로그 파일 저장 가능
        -->
        <RollingFile name="RollingFileAppender">
            <FileName>${LOG_PATH}/log4j2.log</FileName>
            <FilePattern>${LOG_PATH}/log4j2.%d{yyyy-MM-dd-hh-mm}.%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>${DEFAULT_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_PATH}" maxDepth="1">
                    <IfAccumulatedFileCount exceeds="3"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <!--
    각 로거에 대한 설정
    -->
    <Loggers>
        <!-- Root : 일반적인 로그 정책, 반드시 하나 정의해야함 -->
        <Root level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <!-- springframework logger -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <!-- jdbc logger -->
        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

    </Loggers>
</Configuration>